<div class="Novo">

  É novo na plataforma?
  <br>
  <br>
  <%= link_to 'Cadastrar-se', new_login_path, class: 'Novo'%>
  <br>

</div>

<br>
<br>
<br>

<div class="Novo">

  Já é cadastrado?
  <br>
  <br>
  <%= link_to 'Entrar', logins_path, class: 'Novo' %>
  <br>

</div>
