
.sucesso {
    position: inherit;
    color: white;
    font-size: 36px;
  top: 5%;
  z-index: 5;
  left: 30%;
  text-align: center;
  }

  .l_errado {
    position: inherit;
    color: red;
    font-size: 36px;
  top: 5%;
  z-index: 5;
  left: 30%;
  text-align: center;
  }
